<section class="other" aria-labelledby="other-ways-heading">
  <h2 class="other__title" id="other-ways-heading">Other ways to get started</h2>
  <ul class="other__links">
    <li>
      <a class="other__link" routerLink="/auth/register-company">
        <i class="pi pi-building other__icon" aria-hidden="true"></i>
        <span class="other__body">
          <span class="other__name">Create a company account</span>
          <span class="other__text">For service business owners</span>
        </span>
        <i class="pi pi-angle-right other__chevron" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a class="other__link" href="#" (click)="$event.preventDefault()">
        <i class="pi pi-user other__icon" aria-hidden="true"></i>
        <span class="other__body">
          <span class="other__name">Request a service</span>
          <span class="other__text">Continue as a guest</span>
        </span>
        <i class="pi pi-angle-right other__chevron" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</section>

<p class="note">
  <i class="pi pi-info-circle" aria-hidden="true"></i>
  Guest requests do not create an account.
</p>
